.routes_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 10px 24px;
  border-radius: 16px;
  background: rgb(247, 234, 139);
  background: linear-gradient(
    171deg,
    rgb(247, 234, 139) 0%,
    rgb(253, 219, 48) 82%,
    rgb(249, 214, 13) 100%
  );
  color: #000;
  cursor: pointer;
  transition: background-color 340ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;

  @media (min-width: 640px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.active {
  box-shadow: none;
  background: linear-gradient(
    160deg,
    rgb(230, 218, 130) 0%,
    rgb(228, 197, 43) 82%,
    rgb(232, 199, 12) 100%
  );
  // border: 1px solid red;
}

.start_location,
.finish_location {
  display: flex;
  flex-direction: column;
  gap: 4px;

  span:first-child {
    color: #000;
    font-size: 12px;
    font-weight: 500;
  }

  span:last-child {
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
  }
}

.start_location {
  text-align: left;
  width: 100%;
  margin-top: 8px;

  @media (min-width: 640px) {
    width: auto;
    margin-top: 0;
  }
}

.finish_location {
  text-align: right;
  width: 100%;

  @media (min-width: 640px) {
    width: auto;
  }
}

.arrow {
  display: flex;
  font-size: 22px;
  color: rgb(42, 40, 38);
}
