.title {
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  user-select: none;
  text-align: center;
  font-family: var(--font);
  color: rgb(45, 45, 45);

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 992px) {
    font-size: 24px;
  }
}
