.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 24px;
  gap: 24px;
  height: 100%;

  @media (max-width: 768px) {
    padding: 20px 8px;
  }
}

.card_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 100%;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}

.selected_location {
  width: 100%;
  color: rgb(45, 45, 45);

  @media (max-width: 992px) {
    width: 100%;
  }
}
