.outer_container {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 20px;
  width: 100%;
  margin-top: 6px;

  @media (max-width: 567px) {
    gap: 8px;
  }

  @media (min-width: 768px) {
    grid-template-columns: 200px 200px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.container {
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 12px 8px;
  border-radius: 10px;
  border: 1px solid rgb(235, 238, 203);
  background: linear-gradient(
    90deg,
    rgb(134, 132, 123),
    rgb(152, 152, 147),
    rgb(167, 167, 161)
  );
}

.icon {
  font-size: 30px;
}

.content {
  font-size: 14px;
  font-weight: 600;
}

.active {
  border: 1px solid rgb(13, 195, 150);
  background: linear-gradient(
    90deg,
    rgb(11, 82, 56),
    rgb(7, 78, 56),
    rgb(6, 82, 63)
  );
}
