.outer_container {
  display: grid;
  border-radius: 5px;
  background-color: #edf1f7;
  border: 1px solid #e6e6e6;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 8px;
  min-height: 100px;
  border-radius: 5px;
  background-color: #f0f4f6f4 !important;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 6px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;

  &.blue {
    background-color: #d0ebff;
    border-color: #98cffa;
  }

  &.green {
    background-color: #d3f9d8;
    border-color: #98fc9e;
  }

  &.orange {
    background-color: #ffe8cc;
    border-color: #ffd29a;
  }

  &.pink {
    background-color: #f7ccff;
    border-color: #f09aff;
  }

  &.indigo {
    background-color: #f7ccff;
    border-color: #f09aff;
  }
}

.icon {
  width: 22px;

  @media (max-width: 768px) {
    width: 18px;
  }
}

.title {
  color: #222;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.label {
  color: #000;
  margin-top: 6px;
  font-size: 16px;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.value {
  color: #000;
  margin-top: 4px;
  font-size: 16px;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.promocode_copy {
  padding: 3px 4px;
  border-radius: 3px;
  border-bottom: 1px solid rgba(14, 116, 199, 0.342);
}
