.outer_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;

  @media (max-width: 567px) {
    gap: 8px;
  }
}

.container {
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  min-width: 40px;
  padding: 10px 8px;
  border-radius: 10px;
  border: 1px solid rgb(235, 238, 203);
  background: linear-gradient(
    90deg,
    rgb(134, 132, 123),
    rgb(152, 152, 147),
    rgb(167, 167, 161)
  );
}

.car_photo {
  width: 160px;
}

.content {
  font-size: 14px;
  font-weight: 600;
  user-select: none;
  text-align: center;
}

.standart {
  width: 70px;
}

.comfort {
  width: 55px;
}

.bussiness {
  width: 70px;
}

.active {
  border: 1px solid rgb(13, 195, 150);
  background: rgba(18, 144, 104, 1);
}
